body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: #434455;
  font-size: 16px;
}
.list {
  list-style-type: none;
}
.lists {
  list-style-type: none;
}
.example {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  color: #2e2f42;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.34;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

/*site-nav*/
.site-nav .list {
  color: #2e2f42;
  font-weight: 600;
  line-height: 1.5;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #4d5ae5;
}
.site-nav .link {
  text-decoration: none;
}

/*auth-nav*/
.auth-nav .link {
  list-style-type: none;
  line-height: 1.5;
  text-decoration: none;
}
.auth-nav .tel {
  line-height: 1.5;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2e2f42;
}
/* hero*/
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
}
.hero .button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: #4d5ae5;
  font-weight: 500;
  font-family: in;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero .button:hover,
.hero .button:focus {
  color: #2e2f42;
}
/* info */

.info-titles {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.info > p {
  line-height: 1.5;
}
/* photo */
.photo-titles {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
/* team */
.team-titles {
  color: #2e2f42;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  background-color: #f4f4fd;
}
.team > h3 {
  color: #2e2f42;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.team > p {
  line-height: 1.5;
}
.down {
  background-color: #2e2f42;
}
.down-logo {
  color: #f4f4fd;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
}
.down p {
  color: #e7e9fc;

  line-height: 1.5;
}
.down-logo:hover,
.down-logo:focus {
  color: #4d5ae5;
}

/* portfolio*/

/* portfolio- button*/
.gallery-link {
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  border: #e7e9fc;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.gallery-link:hover,
.gallery-link:focus {
  color: #ffffff;
  background-color: #4d5ae5;
}

.examples-titles {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.examples > p {
  line-height: 1.5;
}
